[submodule "packages/r3f-gist"]
	path = packages/r3f-gist
	url = https://github.com/momentchan/r3f-gist.git
[submodule "packages/particle-system"]
	path = packages/particle-system
	url = https://github.com/momentchan/particle-system.git
[submodule "packages/trail-gpu"]
	path = packages/trail-gpu
	url = https://github.com/momentchan/trail-gpu.git
